/* 
		_footer.scss
*/

/*
										---FOOTER---
*/



#footer{
	position: relative;
	//min-height: 150px;
	line-height: 170%;
	color: black;
	background-position: center -59px;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	@media (max-width: 991px){
		overflow: hidden;
		background-color: $color-1;
	}
	hr{
		margin-top: 40px;
		border-style: dashed;
		@media (max-width: 991px) {
			margin-top: 0px;
		}
	}
}
.footer-water{
	@extend .fuller;
	height: 100%;
	overflow: hidden;
	margin-top: -185px;
	text-align: center;
	z-index: -1;
	height: calc(100% + 185px);
	@media (max-width: 991px) {
		display: none;
	}
	left: 50%;
	transform: translateX(-50%);
}

.footer-content{
	padding: 60px;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: bottom right;
	@media (max-width: 991px) {
		padding: 0px;
	}
	.form-content{
		form{
			input{
				margin-right: 15px;
			}
		}
	}
	@media (min-width: 992px){
		padding-top: 15px;
	}
	.form-content{
		input{
			margin-top: 15px;
			height: 50px;
			margin-bottom: 15px;
			border-radius: 40px;
			padding-left: 30px;
			padding-right: 30px;
			&:focus{
				border-color: $color-1;
			}
		}

	}
}
.footer-feedback{
	background-color: white;
	padding: 20px 30px;
	border-radius: 30px;
	@extend .shadow-def;
	@media (min-width: 991px){
		margin-top: -240px;
	}
	h2{
		margin-top: 0;
	}
	.wrapper-border{
		padding: 20px 30px;
		border-radius: 30px;
		border: 1px dashed $color-gray-3;
	}
}
.gray{
	color: #717171;
}
.socmsgs{
	a{
		align-items: center;
	}
	.soc-list{
		i{			
			justify-content: center;
			width: 25px;
			margin-right: 10px;
			height: 25px;
			border-radius: 50%;
			display: flex;
			justify-content: cneter;
			align-items: center;
			background-color: white;
			color: $color-1;
			transition: all 0.3s ease;
		}
	}

	li{
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: left;
		a{
			display: flex;
		}
		&:hover{
			a{
				.icm-whatsapp{
					color: white;
					background-color: $color-2;
				}
				.icm-telegram{
					color: white;
					background-color: $color-3;
				}

			}
		}
	}
}
.footer-info{
	color: white;
	@media (max-width: 991px) {
		text-align: left;
		display: inline-block;
		.icm-phone-call{
			display: none;
		}
		h5, .socicons{
			text-align: left;
		}
	}
	div>h5{
		margin-top: 0;
	}
	.icm-phone-call{
		font-size: 28px;
		min-width: 28px;
		margin-top: 5px; 
		margin-right: 15px; 
	}
	.item{
		padding: 15px 30px;
		width: (100/3)#{"%"};
		position: relative;
		@media (max-width: 991px) {
			width: 100%;
		}
		@media (min-width: 992px){

			&:not(:last-child){
				&:before{
					content: "";
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					pointer-events: none;
					border-right: 1px dashed white;
				}
			}
			&:nth-child(2){
				text-align: center;
			}
			&:nth-child(3){
				text-align: right;
			}
		}

	}
}
.footer-info-items{
	margin-left: -30px;
	margin-right: -30px;
	.mwbox{
		@media (min-width: 992px){
			display: inline-block;
			min-width: 175px;
		}
	}
	.icon-content{
		text-align: left;
		font-size: 1.05em;
		i{
			font-size: 25px;
			margin-right: 10px;
		}
	}
}




.copy-content{
	font-size: 0.85em;
	padding: 8px 0;
	color: white;
	background-color: $color-3;
	background-position: center 0px;
	background-repeat: no-repeat;
	background-size: auto;
	.container{

	}

	.row{
		@media (min-width: 992px) {
			display: flex;
			align-items: center;
		}
	}
}
.copyright{
	
}
.dev{
}
.contacts-map{
	padding-top: 0;
	padding-bottom: 0;
}
#map-canvas{
	height: 70vh;
	width: 100%;
}
@media (max-width: 991px) {
	#map-canvas{
		height: 240px;
		width: 100%;
	}
}